.wrapper{
    text-align: center;
}
.container{
    text-align: center;
    position: relative;
    margin: auto;
    margin-top:5%;
    width: 50%;

    border-radius: 5px;   
}

.header{
    background-color:#fff;   
    text-align: left;
    border: 0px;
    border-radius: 3px; 
    padding-bottom:20px;
    padding-top:2px;
    color:#795548;
    font-family: 'Open Sans', sans-serif;
}
.subBox{
    padding:15px;
    font-family: 'Open Sans', sans-serif;
    border-style: solid;
    border-color:#EEEEEE; 
    background: #EEEEEE;
    border-radius:5px; 
}
.subBox1{
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: black;
    text-align: left;
}
.formGroup{
    padding:15px;
    padding-left:0px;
    padding-right:0px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
.subBox h3{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}
input {
    width:100%;
    margin-top:2px;
    border-style: solid;
    border-width: 1px;
    border-color: #78909C;   
    border-radius: 3px;
    padding:15px;
}

.btn{
    background-color: #78909C;
    border-radius:3px;
    border-style:solid;
    border-color:#78909C;
    color:#fff;
    text-align: center;
    transition:0.3s;
    padding:10px; 
    font-family: 'Open Sans', sans-serif;  
}
.btn:hover{
    background-color: #fff;
    color: #78909C;
    transition:0.3s;
    cursor: pointer;
}

.well{
    padding:15px;
    margin:5px;
    background: #EEEEEE;
    border-radius: 3px;
    margin-top:20px;
}

.btn-visit{
    margin-left:10px;
    padding:6px;
    border-style: solid;
    border-width:1px;
    border-color:black;
    background: #fff;
    text-decoration: none;
    color:inherit;
    font-size: 80%;
    font-weight: 500;
    border-radius: 4px;
    transition:0.4s;
}
.btn-visit:hover{
    background: rgb(233, 232, 232);
    transition:0.4s;
}

.btn-delete{
    margin-left:10px;
    padding:6px;
    border-style: solid;
    border-width:0.5px;
    border-color:rgb(243, 41, 41);
    background: #F44336;
    text-decoration: none;
    color:inherit;
    font-size: 80%;
    font-weight: 500;
    border-radius: 4px;
    color:#fff;
    transition:0.3s;
}
.btn-delete:hover{
    background: #FFCDD2;
    color:#000;
    transition:0.3s;
}

